<h1>Welcome</h1>

<div class="container py-2">
  <p id="welcome-component">
    Welcome {{name}} to our awesome application
  </p>

  <div>
    You can manage your todo's <a routerLink="/todos">here</a>
  </div>

  <div>
    Click here to get a customized welcome message
    <button (click)="getWelcomeMessage()" class="btn btn-outline-success">Get welcome message</button>
  </div>

  <div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your customized welcome message</h2>
    {{welcomeMessageFromService}}
  </div>

  <div>
    Click here to get a customized welcome message with parameter
    <button (click)="getWelcomeMessageWithParameter()" class="btn btn-outline-success">Get welcome message with parameter</button>
  </div>
</div>
