<h1>Todo Create/Update</h1>

<div class="container">

  <fieldset class="form-group">
    <label for="description">Description</label>
    <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required">
  </fieldset>


  <fieldset class="form-group">
    <!-- [] in angular is binding, () in angular is event-->
    <label for="targetDate">Target Date</label>
    <input type="date" [ngModel]="todo.targetDate | date:'yyyy-MM-dd'" (ngModelModelChange)="todo.targetDate = $event" class="form-control" name="targetDate" required="required">
  </fieldset>

  <button class="btn btn-success mb-2" (click)="saveTodo">Save</button>
</div>
